---
layout: default
home: true
---

<!-- <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3> -->

<div class="flex-container">
  {%- for post in site.categories.license limit: site.number_of_posts -%}
<div class="card__license" style="background: {{post.background}};">
  <!-- <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span> -->
  <div class="card__pick"><img src="{{post.maincover}}" class="drop" alt=""></div>
  <div class="card__footer"></div>
  <div class="card__name"> <a href="{{ post.url }}"><h3 style="color:black">{{ post.nickname | escape }}</h3></a></div>



 
 
</div>
{%- endfor -%}
</div>




<div class="flex-container">
  {%- for post in site.categories.player limit: site.number_of_posts -%}
<div class="card__player">
  <!-- <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span> -->
  <div class="card__header"></div>
  <div class="card__text"><a href="{{ post.url }}"><h3 style="color: {{ post.color }};">{{ post.nickname | escape }}</h3></a></div>
  <div class="card__holo">
    <img src="{{post.holo}}" alt="">
  </div>
  <div class="card__avatar">
    <img src="{{ post.avatar}}" alt="">
  </div>
  <div class="card__frame">
    <img src="{{ post.frame}}" alt="">
  </div>
  <div class="card__rol">
    <span>{{ post.rol}}</span>
  </div>
  <div class="card__main">
    <span>{{ post.main}}</span>
  </div>
</div>
{%- endfor -%}
</div>